body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #FAFAFA;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: 0;
}

a:link {
  text-decoration: none;
  border: none;
  -moz-outline-style: none;
  outline: none;
}

a:visited {
  text-decoration: none;
  border: none;
  -moz-outline-style: none;
  outline: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  border: none;
  -moz-outline-style: none;
  outline: none;
}

a:active {
  text-decoration: none;
  border: none;
  -moz-outline-style: none;
  outline: none;
}

a:focus {
  text-decoration: none;
  border: none;
  -moz-outline-style: none;
  outline: none;
}

/* .dropdown-content {
  max-height: 650px;
}

.dropdown-content {
  max-height: 250px;
} */

.autocomplete {
  display: -ms-flexbox;
  display: flex;
}

.autocomplete .ac-users {
  padding-top: 10px;
}

.autocomplete .ac-users .chip {
  -ms-flex: auto;
  flex: auto;
  margin-bottom: 10px;
  margin-right: 10px;
}

.autocomplete .ac-users .chip:last-child {
  margin-right: 5px;
}

.autocomplete .ac-dropdown .ac-hover {
  background: #eee;
}

.autocomplete .ac-input {
  -ms-flex: 1;
  flex: 1;
  min-width: 150px;
  padding-top: 0.6rem;
}

.autocomplete .ac-input input {
  height: 2.4rem;
}

/* label focus color */

/* UL padding override - see https://github.com/Dogfalo/materialize/issues/2786#issuecomment-234809753  */

ul {
  padding-left: 20px;
}

.btn {
  font-size: .8em;
}

/* not sure why this is needed... */

.material-icons {
  vertical-align: bottom;
}

.modal:focus {
  outline: none;
}

.modal-header {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

#plot_dashboard_body_container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
}

#plot_dashboard_body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background: #fafafa;
  width: 100%;
  position: absolute;
  z-index: 2;
  opacity: 0;
}

#plot_dashboard_body_back {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  /*background: #fafafa url("../img/.jpg");*/
  background-position: center;
  position: absolute;
  z-index: 1;
}

.plot_dashboard_body_tile {
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  position: relative;
}

/* label focus color */

/* label underline focus color */

nav .input-field input[type=text]:focus, nav .materialize-textarea:focus:not([readonly]) {
  border-bottom: 0px !important;
  border-bottom: 0 !important;
  -webkit-box-shadow: 0 !important;
  -moz-box-shadow: 0 !important;
  box-shadow: 0 !important;
}

.tabs .tab a.active {
  background-color: #546E7A !important;
}

/*Background and text color when a tab is active*/

ul.dropdown-content.select-dropdown li span {
  color: #90A4AE;
}

[type="radio"].filled-in:checked+label:after {
  background-color: #FFA500 !important;
}

[type="radio"].filled-in:checked+label:before, [type="radio"].filled-in:checked+label:after {
  border: 2px solid #FFA500 !important;
}

#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 7%;
  right: 7%;
}
