.legend_heatmap {
  padding: 0px 0px;
  font: 10px sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.key path {
  display: none;
}

.info {
  font-size: 10px;
  left: 0px;
  top: -20px;
  overflow-y: auto;
  max-height: 250px;
}

.legend {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
